<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="TwitchLib.Client" version="3.1.5" targetFramework="net472" />
  <package id="TwitchLib.Client.Enums" version="3.1.4" targetFramework="net472" />
  <package id="TwitchLib.Client.Models" version="3.1.5" targetFramework="net472" />
  <package id="TwitchLib.Communication" version="1.0.3" targetFramework="net472" />
</packages>